.AdminCalcEdit {
  min-height: calc(100vh - 70px - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  max-width: 100%;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.AdminCalcEdit input {
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 10px;
  border-color: #242424;
  border-style: solid;
}

.AdminCalcEdit button {
  padding: 8px;
  border-radius: 10px;
  border-style: none;
  background-color: #242424;
  color: white;
}

.returnButton:visited {
  color: black;
}

.AdminCalcEdit p,
.AdminCalcEdit .returnButton {
  text-align: center;
  font-size: x-large;
  margin: 30px;
}

.AdminCalcEdit button:hover {
  background-color: #3f3f3f;
}

.AdminCalcEdit button:active {
  background-color: #2e2e2e;
}

@media (max-width: 768px) {
  .AdminCalcEdit {
    width: 300px;
  }

  .AdminCalcEdit p,
  .AdminCalcEdit .to-admin {
    font-size: larger;
  }
}
