.Main {
  min-height: calc(100vh - 70px - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .Main {
    width: 300px;
  }
}
